.pokedex {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  list-style: none;
  border-radius: 25px;
  box-shadow: 2px 3px 3px black;
  background-color: rgb(221, 247, 247);
  margin: 15vh;
  width: auto;
  height: auto;
  font-size: x-large;
  text-align: center;
  justify-items: center;
}

.buttons {
  text-align: center;
  justify-content:center;
}

.title {
  flex-basis: 100%;
  text-align: center;
}
